* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header {
    width: 100%;
    height: 60px;
    text-align: center;
    background-color: #192312;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    margin: 30px auto;
    width: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.item {
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: black;
}

